@media(min-width: 992px) {

    .navi {

        &__items {
            display: flex;
            list-style-type: none;
        }

        &__item {
            padding: 25px;
        }
    }

    .hero {
        .hero-img {
            position: relative;
            height: 100vh;
            background-image: url(../img/lighthouseDesktop.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom right;
            z-index: 0;
        }
    }

    .footer {
        background-color: black;

        .footer-box {
            margin: 0 auto;
            max-width: 1200px;
            width: 100%;

            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            &__container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }

            &__logo {
                color: white;
                font-size: 3.2rem;
                cursor: pointer;
                left: 0;
                padding-bottom: 0;

                :hover {
                    color: rgba(88, 159, 226, 0.8);
                }
            }

            &__items {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                :hover {
                    color: rgba(88, 159, 226, 0.8);
                }
            }

            &__item {
                position: relative;
                display: block;
                color: white;
                text-decoration: none;
                text-transform: capitalize;
                font-size: 1.4rem;
                text-align: center;
            }

            &__copyright {
                text-transform: capitalize;
                position: relative;
                right: 0;
                padding: 0 0 0 25px;

                span {
                    text-transform: uppercase;
                }
            }

        }
    }
}